/* ----------------------------------------- */
/* CONFIGURAÇÃO BÁSICA */
/* ----------------------------------------- */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: #fff;
    color: #757575;
    font-family: 'Montserrat', 'Arial', sans-serif;
    font-size: 20px;
    font-weight: 200;
    text-rendering: optimizeLegibility;
}

.clearfix {zoom:1}
.clearfix:after {
    content: '.';
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}

/* ----------------------------------------- */
/* COMPONENTES REUTILIZÁVEIS */
/* ----------------------------------------- */

.row {
    max-width: 1140px;
    margin: 0 auto;
}

.btn:link,
.btn:visited {
    padding: 12px 20px;
    margin-left: 90px;
    font-weight: bold;
    text-decoration: none;
    background-color: #243b80;
    border-radius: 33px;
    color: #fff;
    font-size: 60%;
    transition: background-color 0.2s;
}

.btn:hover,
.btn:active {
    background-color: #2f4da8;
}

/* ----------------------------------------- */
/* HEADER */
/* ----------------------------------------- */

header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../foto-banner/foto-banner.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;   
}

/* NAVEGADOR/MENU */

nav {
    background-color: #fff;
    height: 13%;
    width: 100%;
    /* margin: auto; */
}

.logo {
    height: 70px;
    width: auto;
    float: left;
    margin-top: 16px; 
    margin-bottom: 22px;
}

.main-nav {
    display: flex;
    float: right;
    list-style: none;
    margin-top: 35px;
}

.main-nav li {  
    margin-left: 50px;   
}

.main-nav li a:link,
.main-nav li a:visited {
    flex-direction: row;
    position: relative;
    padding: 8px 0;
    color: #bdbdbd;
    text-decoration: none;
    font-size: 80%;
    font-weight: 300;
    border-bottom: 4px solid transparent;
    transition: border-bottom 0.3s,  color 0.3s;
}

.main-nav li a:hover,
.main-nav li a:active { 
    color: #243b80;
    border-bottom: 3px solid #243b80;
}

/* BANNER */

.texto-banner {
    display: flex;
    flex-direction: column;
    padding-top: 225px;
}

.texto-banner h1 {
    margin: 0;
    width: 502px;
    height: 78px;
    color: #fff;
    font-size: 140%;
    word-spacing: 4px;
    letter-spacing: 0.3px;
    line-height: normal;
}

.texto-banner h2 {
    margin-top: 10px;
    margin-bottom: 40px;
    width: 353px;
    height: 44px;
    color: #fff;
    font-size: 78%;
    word-spacing: 2px;
    letter-spacing: 0.2px;
    font-weight: normal;
    line-height: normal;
}

.texto-banner h1,
.texto-banner h2,
.texto-banner .btn {
    align-self: flex-start;
}

/* ----------------------------------------- */
/* SECTION FRASE DE IMPACTO */
/* ----------------------------------------- */

.frase-impacto{
    background-color:  #1a237e;
    height: 80px;
    display: flex;
}

.div-frase{
    margin: 30px 100px;
    
}

.div-frase h3{
    font-family: Montserrat;
    font-size: 100%;
    line-height: normal;
    letter-spacing: -0.1px;
    text-align: left;
    color: #ffffff;
}

/* ----------------------------------------- */
/* SECTION FRASE DE IMPACTO */
/* ----------------------------------------- */

.quem-somos{
    background-color: #ffffff;
    height: 100vh;
    float: left;
    width: 100%;
    padding-right: 10%;
}

.img-quem-somos{
    padding-right: 130px;
    margin: 10% 0;
}

.time-quem-somos{
    width: 130%;
    
}

.txt-quem-somos{
    padding: 16% 0;

}

.txt-quem-somos h1{
    font-size: 180%;
    letter-spacing: 0.3px;
    text-align: left;
    color: #806924;

}

.txt-quem-somos p{
    font-size: 70%;
    font-weight: normal;
    line-height: 1.5;
    letter-spacing: 0.2px;
    text-align: left;
    color: #757575;
}

/* ----------------------------------------- */
/* SECTION TRIANGULO */
/* ----------------------------------------- */

.section-triangulo{
    background-color: #ffffff;
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

.section-triangulo .row{
    margin: 0 0;
}
#triangle-left {
    width: 0;
    height: 0;
    border-top: 0px solid transparent;
    border-right: 173px solid #526ff9;
    border-bottom: 38px solid transparent;
}

/* ----------------------------------------- */
/* SECTION BACKGROUND */
/* ----------------------------------------- */




/* ----------------------------------------- */
/* SECTION METODOLOGIA */
/* ----------------------------------------- */


/* .section-metodologia{
    height: 100vh;
    (tava na coluna 7/11)
} */

/* INTRODUCAO METODOLOGIA */

.intro-metodologia h1{
    width: 350px;
    height: 87px;
    font-size: 120%;
    line-height: normal;
    letter-spacing: 0.2px;
    text-align: left;
    color: #0e1d5f;
}

.intro-metodologia p{
    width: 332px;
    height: 108px;
    font-size: 80%;
    font-weight: normal;
    line-height: normal;
    letter-spacing: 0.2px;
    text-align: left;
    color: #757575;  
}

/* ETAPAS METODOLOGIA */

.etapas-metodologia {
    height: 400px;
    width: 878px;
}

.etapas-metodologia h1 {
    margin-top: 65px;
    margin-bottom: 45px;
    width: 300px;
    height: 29px;
    font-size: 120%;
    letter-spacing: 0.2px;
    text-align: left;
    color: #806924;
}

/* ITENS METODOLOGIA */

.itens-etapa {
    display: flex;
    flex-direction: column;
    /* align-items: flex-start; */
    margin-right: -40px;
}

.circulo { 
    margin-left: 20px;
    margin-bottom: 15px;
    width: 30px;
    height: 30px;
    background: #246980;
    border-radius: 70px;
    padding: 0px 11px;
    padding-top: 5px;
 }

 .circulo h1 {
    margin: 0;
    width: 6px;
    height: 18px;
    font-size: 80%;
    color: #fefefe;
 }

 .itens-etapa h2 {
    width: 60px;
    height: 18px;
    font-size: 80%;
    letter-spacing: 0.2px;
    text-align: left;
    color: #212121;
 }

 .itens-etapa img {
    width: 70px;
    height: 70px;
    margin: 10px 0;
 }

 .itens-etapa p {
    width: 100px;
    height: 75px;
    font-size: 60%;
    font-weight: normal;
    line-height: 1.5;
    letter-spacing: 0.2px;
    text-align: left;
    color: #757575;
 }

 /* ----------------------------------------- */
/* SECTION CASES DE SUCESSO*/
/* ----------------------------------------- */
/* .cases-de-sucesso {
    height: 100vh;
}
.cases{
    margin-right: 100px;
} */

.cases {
    width: 700px;
}

.cases-de-sucesso h1{
    width: 300px;
    height: 29px;
    font-size: 120%;
    letter-spacing: 0.3px;
    text-align: left;
    color: #0e1d5f;
    margin-bottom: 60px;
}

.circulo-cases{
    margin-left: 25px;
    width: 100px;
    height: 100px;
    background: #246980;
    border-radius: 70px;
    margin-bottom: 30px;
    padding-left: 18px;
}

.circulo-cases img{
    width: 108px;
    height: 116px; 
}

#ultimo-case{
    display: flex;
    justify-content: center;
}

#ultimo-case img{ 
    width: 134px;
    height: 117px;
    align-self: center;
}

.itens-case h2{
    font-size: 70%;
    letter-spacing: 0.3px;
    text-align: left;
    color: #806924;
    margin-bottom: 8px;
}

.itens-case p{
    width: 180px;
    font-size: 60%;
    /* font-weight: normal; */
    line-height: 1.5;
    letter-spacing: 0.2px;
    text-align: left;
    color: #757575;
    margin-bottom: 10px;
}

.img-bg{
    width: 767px;
    opacity: 0.12;
    margin-top: 49px;
    margin-left: -237px;
}

.img-gradient{
    transform: rotate(180deg);
    height: 500px;
    margin-left: -455px;
}