/* ----------------------------------------- */
/* CONFIGURAÇÃO BÁSICA */
/* ----------------------------------------- */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: #fff;
    color: #757575;
    font-family: 'Montserrat', 'Arial', sans-serif;
    font-size: 20px;
    font-weight: 200;
    text-rendering: optimizeLegibility;
}

.clearfix {zoom:1}
.clearfix:after {
    content: '.';
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}

/* ----------------------------------------- */
/* COMPONENTES REUTILIZÁVEIS */
/* ----------------------------------------- */

.row {
    max-width: 1140px;
    margin: 0 auto;
}

.btn:link,
.btn:visited {
    padding: 12px 20px;
    margin-left: 90px;
    font-weight: bold;
    text-decoration: none;
    background-color: #243b80;
    border-radius: 33px;
    color: #fff;
    font-size: 60%;
    transition: background-color 0.2s;
}

.btn:hover,
.btn:active {
    background-color: #2f4da8;
}

/* ----------------------------------------- */
/* HEADER */
/* ----------------------------------------- */

header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../foto-banner/foto-banner.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;   
}

/* NAVEGADOR/MENU */

nav {
    background-color: #fff;
    height: 13%;
    width: 100%;
    /* margin: auto; */
}

.logo {
    height: 70px;
    width: auto;
    float: left;
    margin-top: 16px; 
    margin-bottom: 22px;
}

.main-nav {
    display: flex;
    float: right;
    list-style: none;
    margin-top: 35px;
}

.main-nav li {  
    margin-left: 50px;   
}

.main-nav li a:link,
.main-nav li a:visited {
    flex-direction: row;
    position: relative;
    padding: 8px 0;
    color: #bdbdbd;
    text-decoration: none;
    font-size: 80%;
    font-weight: 300;
    border-bottom: 4px solid transparent;
    transition: border-bottom 0.3s,  color 0.3s;
}

.main-nav li a:hover,
.main-nav li a:active { 
    color: #243b80;
    border-bottom: 3px solid #243b80;
}

/* BANNER */

.texto-banner {
    display: flex;
    flex-direction: column;
    padding-top: 225px;
}

.texto-banner h1 {
    margin: 0;
    width: 502px;
    height: 78px;
    color: #fff;
    font-size: 140%;
    word-spacing: 4px;
    letter-spacing: 0.3px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
}

.texto-banner h2 {
    margin-top: 10px;
    margin-bottom: 40px;
    width: 353px;
    height: 44px;
    color: #fff;
    font-size: 78%;
    word-spacing: 2px;
    letter-spacing: 0.2px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
}

.texto-banner h1,
.texto-banner h2,
.texto-banner .btn {
    align-self: flex-start;
}

/* ----------------------------------------- */
/* SECTION FRASE DE IMPACTO */
/* ----------------------------------------- */

.frase-impacto{
    background-color:  #1a237e;
    height: 80px;
    display: flex;
}

.div-frase{
    margin: 30px 100px;
    
}

.div-frase h3{
    font-family: Montserrat;
    font-size: 100%;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: -0.1px;
    /* text-align: left; */
    color: #ffffff;
}

/* ----------------------------------------- */
/* SECTION FRASE DE IMPACTO */
/* ----------------------------------------- */

.quem-somos{
    background-color: #ffffff;
    height: 100vh;
    float: left;
    width: 100%;
    padding-right: 10%;
}

.img-quem-somos{
    padding-right: 130px;
    margin: 10% 0;
}

.time-quem-somos{
    width: 130%;
    
}

.txt-quem-somos{
    padding: 16% 0;

}

.txt-quem-somos h1{
    font-family: Montserrat;
    font-size: 180%;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.3px;
    text-align: left;
    color: #806924;

}

.txt-quem-somos p{
    font-family: Montserrat;
    font-size: 70%;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.2px;
    text-align: left;
    color: #757575;
}

/* ----------------------------------------- */
/* SECTION TRIANGULO */
/* ----------------------------------------- */

.section-triangulo{
    background-color: #ffffff;
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

.section-triangulo .row{
    margin: 0 0;
}
#triangle-left {
    width: 0;
    height: 0;
    border-top: 0px solid transparent;
    border-right: 173px solid #526ff9;
    border-bottom: 38px solid transparent;
}

/* ----------------------------------------- */
/* SECTION BACKGROUND */
/* ----------------------------------------- */




/* ----------------------------------------- */
/* SECTION METODOLOGIA */
/* ----------------------------------------- */